{% load allauth %}
{% comment %} djlint:off {% endcomment %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
{% if attrs.form %}form="{{ attrs.form }}"{% endif %}
{% if attrs.id %}id="{{ attrs.id }}"{% endif %}
{% if attrs.name %}name="{{ attrs.name }}"{% endif %}
{% if attrs.value %}value="{{ attrs.value }}"{% endif %}
{% if attrs.type %}type="{{ attrs.type }}"{% endif %}
class="inline-block w-full px-4 py-2 my-4 text-white font-semibold bg-blue-600 hover:bg-blue-700 rounded-lg transition duration-300 ease-in-out text-center"
>
{% slot %}
{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
